{% extends 'proctor_creek/base.html' %}
{%  block content %}
    <h1>File A Report</h1>
    <!--<h2>Members: Joanna Tolentino, Sam Milner, Dylan Small, Grayson Raulston, Ryan Bauer</h2> -->


    <form action="{% url 'report' %}" method="POST">
        {% csrf_token %}
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label for="first_name">First Name:</label>
                    <input class="form-control" type="text" id="first_name" name="first_name", required="true">
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label for="last_name">Last Name:</label>
                    <input class="form-control" type="text" id="last_name" name="last_name", required="true"><br>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-9">
                <div class="form-group">
                    <label for="email">Email *:</label>
                    <input class="form-control" type="email" id="email" name="email", required="true"><br>
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <label for="phone">Phone *:</label>
                    <input class="form-control" type="phone" id="phone" name="phone", required="true"><br>
                </div>
            </div>
        </div>

        <legend for="radio1" class="col-form-label pt-0">Which describes the problem?</legend>
        <div class="form-group">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="radio" id="radio1" value="Tire Dumping">
              <label class="form-check-label" for="radio1">
                Tire Dumping
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="radio" id="radio" value="Standing Water">
              <label class="form-check-label" for="radio2">
                Standing Water
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="radio" id="radio3" value="Miscellaneous">
              <label class="form-check-label" for="radio3">
                Miscellaneous
              </label>
            </div>
        </div>

        <div class="form-group">
            <label for="summary">Summary *:</label><br>
            <textarea class="form-control" type="summary" id="summary" name="summary", required="true"></textarea><br>
        </div>

        <div class="form-group">
            <label for="image">Image: </label><br>
            <img id="preview"/>
            <input type="file" onchange="displayPicPreview(this)" accept="image/*" id="image" name="image"><br>
        </div>

        <button class="btn btn-success" type="submit">Submit</button><br>
    </form>
{%  endblock content %}
{%  block scripts %}
    <script>
        /**
         * This function processes the input image file and outputs to the img tag
         */
        function displayPicPreview(input) {
            preview = document.getElementById('preview')
            preview.src = window.URL.createObjectURL(input.files[0]);
            //preview.setAttribute("width",300)
            //preview.setAttribute("height", 300)
        }

        /**
         * This function stores the image into Firebase storage
         */
        function storeImage() {
            var storage = firebase.storage();
            var imgFile = document.getElementById("image").files[0];
            var storageRef = storage.ref();
            var imgRef = storageRef.child('Report Images');
            var thisRef = imgRef.child(imgFile.name).put(imgFile);
            thisRef.on('state_changed',
                (snapshot) => {
                    console.log("Continue.");
                },

                (error) => {
                    console.log("ERROR: " + error);
                },

                () => {
                    // after image uploads successfully, get the download URL
                    thisRef.snapshot.ref.getDownloadURL().then((downloadURL) => {
                        console.log('File available at', downloadURL);
                        alert("Image upload was sucessful.")
                    });
                }
            );
        }
    </script>
{%  endblock scripts %}